div {
    padding-top: 50px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    color: white;
}

img {
    border: 5px solid white;
    width: 100%;
}
body {
    background-color: black;
}

h1 {
    text-transform: uppercase;
}